<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
        .form-group{
            margin: 10px 10px;
        }
        body form{
            border: 1px solid blue;
            padding: 10px 10px;
        }
    </style>
  </head>
  <body>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Firstname</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="firstname..."
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Lastname</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="lastname..."
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="email..."
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="password..."
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Phone</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="phone..."
        />
      </div>
      
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </body>
</html>